.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #444;
    color: orangered;
}

.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.item{
    margin: 1em;
}

.item a{
    color: orangered;
    text-decoration: none;
}

.item a:hover{
    color: rgb(250, 111, 60);
}

.logo{
    width: 50px;
}